<div class="container m-auto col-10">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Accueil</a></li>
        <li class="breadcrumb-item"><a href="#">Vaccine</a></li>
        <li class="breadcrumb-item active" aria-current="page">Vaccin details</li>
      </ol>
    </nav>
    <div class="col-12 m-auto" *ngIf="_vaccine | async as vacc" >
      <div class="form-row">
        <div class="form-group col-md-12 current-size">
          <em><label for="vaccineNameId">Nom du vaccin</label></em>
          <h4>{{vacc.vaccineName}}</h4>
        </div>
        <div class="form-group col-md-12 current-size">
          <em> <label for="descriptionId">Description</label></em>
          <p><b>{{vacc.description}}</b></p>
        </div>
  
      </div>
      
      <div class="card mb-1 mt-1" >
        <div class="card-header">
          {{"Dose "+ (i+1)}}
        </div>
        <div class="card-body">
          <h5 class="card-title">Description des {{vacc.dose}} dose(s) du vaccin {{vacc.vaccineName}}</h5>
          <p class="card-text">Merci de les completer soigneusement.</p>
          <table class="table table-hover m-2 current-size">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Numero dose</th>
                <th scope="col">Min semaine</th>
                <th scope="col">Max semaine</th>
                <th scope="col">Apres Vaccin</th>
                <th scope="col">Dose</th>
                <th scope="col">Site</th>
                <th scope="col">Dose</th>
                <th scope="col">Voie</th>
  
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item2 of doseList; let i=index">
                <th scope="row">{{i+1}}</th>
                <td>{{item2.doseNumber}}</td>
                <td>{{item2.minWindowWeek}}</td>
                <td>{{item2.maxWindowWeek}}</td>
                <td>{{item2.afterVaccineName}}</td>
                <td>{{item2.afterVaccineDoseId}}</td>
                <td>{{item2.dose}} </td>
                <td>{{item2.site}} </td>
                <td>{{item2.voie}} </td>
  
  
              </tr>
  
            </tbody>
          </table>
         
       </div>
      </div>
     
      <nav>
        <div class="row mt-1 mb-1 ">
  
          <div class="col-4 mr-2">
            <a class="btn btn-primary" [routerLink]="['/vaccines']"  ><i
                class="fa fa-arrow-alt-circle-left"></i>&nbsp;Precedant</a>&nbsp;&nbsp;
            <a type="submit "  class="btn btn-danger" [routerLink]="['/vaccines', 'new-vaccine',id]"
            routerLinkActive="router-link-active"> <i class="fa fa-edit"></i> &nbsp;Editer</a>
  
          </div>
  
        </div>
      </nav>
    </div>
  
</div>
