
 <mat-card class="col-lg-10 col-md-12 col-sm-12  m-auto">
   
  <mat-card-content> 
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Accueil</a></li>
        <li class="breadcrumb-item current-size"><a [routerLink]="['/vaccines']" routerLinkActive="router-link-active" >Vaccins</a></li>
        <li class="breadcrumb-item active" aria-current="page">Nouvelle dose</li>
      </ol>
    </nav>
    <div class="form-row" *ngIf="_vaccine|async as vacc">
      <div class="form-group col-md-12 current-size">
        <h6>Nom du vaccin</h6>
        <p>{{vacc.vaccineName}}</p>
      </div>
      <div class="form-group col-md-12 current-size">
        <h6>Description</h6>
        <p>{{vacc.description}}</p>
      </div>

    </div>
<form  class="form" [formGroup]="form">

       
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="doseNumber{{i+1}}">Numero dose</label>
            <input type="number" class="form-control" placeholder="Numero dose" formControlName="doseNumber">
          </div>
          <div class="form-group col-md-4">
            <label for="minWindowWeek{{i+1}}">min fenetre en semaine</label>
            <input type="number" min="0" class="form-control current-size" formControlName="minWindowWeek">
          </div>
          <div class="form-group col-md-4">
            <label for="maWindowWeek{{i+1}}">max fenetre en semaine</label>
            <input type="number" min="0" class="form-control current-size" formControlName="maxWindowWeek">          
          </div>
        </div>
        <div class="form-row">
              
          <div class="form-group col-md-6">
            <label>Apres la dose</label>
            <select class="form-control current-size" formControlName="afterVaccineDoseId" >
              <option selected="true">Non applicable</option>
              <option *ngFor="let val of doses | async" >{{val.vaccineName}}-{{val.doseNumber}}</option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label for="site{{i+1}}">Site</label>
            <input type="Text" min="0" class="form-control current-size" formControlName="dose" >
          </div>
        </div>
        
        <div class="form-row">
         
          <div class="form-group col-md-6">
            <label for="dose{{i+1}}">Dose</label>
            <input type="Text" min="0" class="form-control current-size"  formControlName="site" >
          </div>
          <div class="form-group col-md-6">
            <label for="voie{{i+1}}">Voie</label>
            <input type="Text" min="0" class="form-control current-size"  formControlName="voie">
          </div>
          
        </div>
      </form>      
      <nav>
        <div class="row mt-1 mb-1 ">
  
          <div class="col-lg-6 col-md-6 col-sm-12 mr-2">
            <button type="submit " [routerLink]="['/doses']" class="btn btn-danger">Annuler</button>
          &nbsp;&nbsp;
            <button type="submit" class="btn btn-primary" [disabled] ="form.invalid" (click)=" save()">Sauvegarder <i
                class="fa fa-arrow-alt-circle-right"></i></button>
          </div>
        </div>
      </nav>
   
  </mat-card-content>
</mat-card>
   