
  <div class="container col-9">


  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Accueil</a></li>
      <li class="breadcrumb-item"><a href="#">Vaccine</a></li>
      <li class="breadcrumb-item active" aria-current="page">Nouveau vaccin</li>
    </ol>
  </nav>

  <div class="col-12 m-auto" *ngIf="!headerHide">
    <form class="form" [formGroup]="form">
      <div class="form-row">
        <div class="form-group col-md-12 current-size">
          <label for="vaccineNameId">Nom du vaccin</label>
          <input type="text" class="form-control current-size" id="vaccineNameId" placeholder="Nom du vaccin"
            formControlName="vaccineName">
            <div *ngIf="form.get('vaccineName').invalid && (form.get('vaccineName').dirty || form.get('vaccineName').touched)" class="alert alert-danger">
              <div *ngIf="form.get('vaccineName').hasError('required')">
                   Le nom du vaccin requis.
              </div>
              <div *ngIf="form.get('vaccineName').hasError('minlength')">
                  vaccineNamedoit avoir au moins 2 caracteres.
              </div>
              <div *ngIf="form.get('vaccineName').hasError('maxlength')">
                  Le nom du vaccin doit avoir maximum 30 caracteres.
              </div>
          </div>
        </div>
        <div class="form-group col-md-12 current-size">
          <label for="descriptionId">Description</label>
          <textarea name="" id="descriptionId" cols="30" rows="10" class="form-control"
            formControlName="description"></textarea>
            <div *ngIf="form.get('description').invalid && (form.get('description').dirty || form.get('description').touched)" class="alert alert-danger">
              <div *ngIf="form.get('description').hasError('required')">
                  Description requis
              </div>
              <div *ngIf="form.get('description').hasError('minlength')">
                  Description must have au moins 2 caracteres.
              </div>
              <div *ngIf="form.get('description').hasError('maxlength')">
                  Description doit avoir maximum 200 caracteres.
              </div>
          </div>
        </div>
        <div class="form-group col-md-4 current-size">
          <label for="doseId">Dose</label>
          <input type="number" min="0" class="form-control current-size" id="doseId" placeholder="Dose"
            formControlName="dose">
            <div *ngIf="form.get('dose').invalid && (form.get('dose').dirty || form.get('dose').touched)" class="alert alert-danger">
              <div *ngIf="form.get('dose').hasError('required')">
                  dose requis
              </div>
              <div *ngIf="form.get('dose').hasError('min')">
                  La dose doit etre superieure a 1
              </div>
              <div *ngIf="form.get('dose').hasError('max')">
                La dose doit etre inferieur ou egale a 10
            </div>
              
          </div>
        </div>
      </div>

      <hr />
    </form>
    <nav>
      <div class="row mt-1 mb-1 ">

        <div class="col-1 mr-2">
          <button type="submit " [routerLink]="['/vaccines']" class="btn btn-danger">Cancel</button>
        </div>
        <div class="col-2">
          <button type="submit" class="btn btn-primary" [disabled] ="form.invalid" (click)="nextStep()">Suivant <i
              class="fa fa-arrow-alt-circle-right"></i></button>
        </div>
      </div>
    </nav>


  </div>
  <div class="col-12 m-auto" *ngIf="headerHide">
    <div class="form-row">
      <div class="form-group col-md-12 current-size">
        <em><label for="vaccineNameId">Nom du vaccin</label></em>
        <h4>{{form.controls.vaccineName.value}}</h4>
      </div>
      <div class="form-group col-md-12 current-size">
        <em> <label for="descriptionId">Description</label></em>
        <p><b>{{form.controls.description.value}}</b></p>
      </div>

    </div>
    
    <div class="card mb-1 mt-1"  *ngFor="let item of vaccine.doseList; let i=index">
      <div class="card-header">
        {{"Dose "+ (i+1)}}
      </div>
      <div class="card-body">
        <h5 class="card-title">Description {{form.controls.dose.value}} dose(s) du vaccin {{form.controls.vaccineName.value}}</h5>
        <p class="card-text">Merci de les completer soigneusement.</p>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="doseNumber{{i+1}}">Numero dose</label>
            <input type="number" class="form-control" id="doseNumber{{i+1}}" placeholder="Numero dose"[(ngModel)]="item.doseNumber">
          </div>
          <div class="form-group col-md-4">
            <label for="minWindowWeek{{i+1}}">min fenetre en sem</label>
            <input type="number" min="0" class="form-control current-size" [(ngModel)]="item.minWindowWeek">
          </div>
          <div class="form-group col-md-4">
            <label for="maWindowWeek{{i+1}}">max fenetre en sem</label>
            <input type="number" min="0" class="form-control current-size" id= "maxWindowWeek{{i+1}}" [(ngModel)]="item.maxWindowWeek">          
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="doseNumber{{i+1}}">Apres le vaccin</label>
            
            <select class="form-control current-size" name="apresVaccin" #apresVaccin  [(ngModel)]="item.afterVaccineName" (change)="getDose(apresVaccin.value)">
              <option [value] ='0' selected="true">Non applicable</option>
              <option *ngFor="let stream of items | async as list" [(value)]="stream.id">{{stream.vaccineName}}</option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label for="minWindowWeek{{i+1}}">Apres la dose</label>
            <select class="form-control current-size" [(ngModel)]="item.afterVaccineDoseId">
              <option [value] ='0' selected="true">Non applicable</option>
              <option *ngFor="let val of doses" [value]="val.doseNumber">{{val.doseNumber}}</option>
            </select>
          </div>
          
        </div>
        
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="site{{i+1}}">site</label>
            <input type="Text" min="0" class="form-control current-size" id="site{{i+1}}" [(ngModel)]="item.site">
          </div>
          <div class="form-group col-md-4">
            <label for="dose{{i+1}}">Dose</label>
            <input type="Text" min="0" class="form-control current-size"  id ="dose{{i+1}}" [(ngModel)]="item.dose">
          </div>
          <div class="form-group col-md-4">
            <label for="voie{{i+1}}">Voie</label>
            <input type="Text" min="0" class="form-control current-size"  id ="voie{{i+1}}" [(ngModel)]="item.voie">
          </div>
          
        </div>
       
        <button href="#" class="btn btn-primary" (click)="drop(item)" [disabled]="i == 0" ><i class="fa fa-trash"></i>&nbsp;&nbsp;delete</button>
      </div>
    </div>
   
    <nav>
      <div class="row mt-1 mb-1 ">

        <div class="col-4 mr-2">
          <button type="submit" class="btn btn-primary" (click)=" previousStep()"><i
              class="fa fa-arrow-alt-circle-left"></i>&nbsp;Precedant</button>&nbsp;&nbsp;
          <button type="submit "  (click) ="save()" class="btn btn-danger">Sauvegarder</button>

        </div>

      </div>
    </nav>
  </div>
</div>